<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html')%>
<body>
    <%- include ('partials/navigation.html') %>
    <div class="container">
        <h1 class="h1 text-center my-4 text-white">What is this?</h1>
        <p class="h4 text-center p-3 text-white">
            This is the First Web App that i develop completely myself.
        </p>
        <p class="h4 text-center p-2 text-white">
            <strong>I use these Frontend and Backend Technologies</strong>
        </p>
    </div>
    <div class="container-fluid d-flex justify-content-around mt-3 mb-5">
        <div class="card row animated backInLeft">
            <img src="img/f-e-img.png" alt="" class="card-img-top">
            <div class="card-body">
                <h4 class="card-title">Tecnologías Frontend</h4>
                <p class="card-text"></p>
            </div>
        </div>
        <div class="card row animated backInRight">
            <div class="card-body">
                <img src="img/b-e-img.png" alt="" class="card-img-top">
                <h4 class="card-title">Tecnologías Backend</h4>
                <p class="card-text"></p>
            </div>
        </div>
    </div>
    <%- include ('partials/footer.html')%>
</body>
</html>