<!DOCTYPE html>
<html lang="en">
    <%- include ('partials/head.html')%>
<body>
    <%- include ('partials/navigation.html') %>
    <div class="container">
        <header class="row">
            <div class="col-lg text-center">
                <img src="img/jg-logo.png" class="img-fluid animated bounceIn" alt="Logo de Juega Germán">
            </div>
        </header>
    </div>
    <div class="container-fluid " id="about">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="col-sm-6">
                <i class="fab fa-youtube fa-10x"></i>
            </div>
            <div class="col-sm-6">
                <h3>The most subscribed Spanish Youtube Channel</h3>
                <p>
                    "Juega Germán" it's the channel of German Garmendia, the Chilean who's created "Hola Soy German".
                    Currently this channel have 44 M. Subscribers at Youtube Platform
                </p>
                <button type="button" class="btn btn-primary"><a href="https://www.youtube.com/channel/UCYiGq8XF7YQD00x7wAd62Zg" target="_blank" class="link-primary text-white">Juega German</a></button>
            </div>
        </div>
    </div>
    <%- include ('partials/footer.html')%>
</body>
</html>